In [2]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv("./blood.csv")

In [4]:
data

        SEX  BTH_G  SBP  DBP  FBS  DIS   BMI
0         1      1  116   78   94    4  16.6
1         1      1  100   60   79    4  22.3
2         1      1  100   60   87    4  21.9
3         1      1  111   70   72    4  20.2
4         1      1  120   80   98    4  20.0
...     ...    ...  ...  ...  ...  ...   ...
999995    2     27  120   70   81    2  23.1
999996    2     27  110   70  104    2  27.2
999997    2     27  115   53  110    1  25.2
999998    2     27  120   70   90    2  19.7
999999    2     27  116   73   92    4  17.6

[1000000 rows x 7 columns]

### SEX 1-men 2-wonen
### SBP - systolic pressure
### DBP - diastolic pressure
### FBS - fasting blood glucose
### BMI - body mass index
### DIS - 1 - 고혈압 및 당뇨
###          2 - 고혈압
###          3 - 당뇨
###          4 - 둘다 없음

In [12]:
focus  = data[['SBP','DIS']]
focus

        SBP  DIS
0       116    4
1       100    4
2       100    4
3       111    4
4       120    4
...     ...  ...
999995  120    2
999996  110    2
999997  115    1
999998  120    2
999999  116    4

[1000000 rows x 2 columns]

In [14]:
focus.count()

SBP    1000000
DIS    1000000
dtype: int64

In [38]:
old_standard = data['SBP'] >= 180
new_standard = data['SBP'] >= 120

DI_ratio = data['DIS'] == 3

In [39]:
data[DI_ratio].count()

SEX      43114
BTH_G    43114
SBP      43114
DBP      43114
FBS      43114
DIS      43114
BMI      43114
dtype: int64

In [40]:
focus[old_standard].count()

SBP    1588
DIS    1588
dtype: int64

In [42]:
focus[old_standard & DI_ratio].count()

SBP    55
DIS    55
dtype: int64

In [41]:
focus[new_standard].count()

SBP    580822
DIS    580822
dtype: int64

In [43]:
focus[new_standard & DI_ratio].count()

SBP    27587
DIS    27587
dtype: int64